%-*- mode: erlang; erlang-indent-level: 2 -*-
{erl_opts,            [debug_info, warnings_as_errors]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.

{dialyzer, [{plt_apps, all_deps}]}.

{deps,
 [{abnfc,
   {git, "git@github.com:massemanet/abnfc.git",
    {ref, "6cd210e"}}}]}.
